@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

@media (max-width: 640px) {
    .main-logo {
        max-width: 750px;
        width: 70vw;
        display: block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    #playstop {
        display: block;
        margin-right: auto;
        margin-left: auto
    }
    .playbutton {
        padding: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .container_audio {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    h1 {
        font-size: 48px;
        font-weight: 800;
        text-align: center;
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (min-width: 640px) {
    #playstop {
        display: block;
        margin-right: auto;
        margin-left: auto
    }
    .playbutton {
        padding: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .container_audio {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .main-logo {
        max-width: 750px;
        width: 50vw;
        display: block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 48px;
        font-weight: 800;
        text-align: center;
        margin-left: 60px;
        margin-right: 60px;
    }
}

p {
    font-size: 25px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

.footer {
    font-size: 90%;
    margin-bottom: 75px;
}